body {
	padding: 20px;
	font-family: sans-serif;
	font-weight:100;
	margin:0 auto; 
	display:flex; 
	flex-direction:column; 
	justify-content:center;
	max-width: max-content;
	background-color: mintcream;
}

h3{
	text-align:left;	
}

div{
	background-color: #E0E0E0;
	color:black;
	border-radius: 10px;
	padding:20px;
	font-size: 14px;
	margin-bottom: 10px;
	width: 500px;
}

input{
	padding:5px;
	width:98%;
	border: 1px solid #989898;
	border-radius: 4px;
}
button{
	background-color:#33cc33;
	color:white;
	border:none;
	border-radius:10px;
	padding:10px;
	width:30%;
}

p{
	font-size: 13px;
}


